.about__wrapper {
  width: 320px;
  padding: 50px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 50px 85px 50px 44px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    padding: 70px 100px 60px;
    gap: 60px 40px;
  }
}

.about__title-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    margin-bottom: 0;
  }
}

.about__title-wrapper p {
  @include primary-font (16px, 22px); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  text-align: left;
  color: var(--text-primary, #ff6347);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include primary-font (20px, 26px); // $font-size, $line-height

    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (22px, 32px); // $font-size, $line-height

    margin-bottom: 20px;
  }
}

.about__title {
  @include primary-font (20px, 1); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  text-align: left;
  color: var(--bg-primary, #ff6347);
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include primary-font (34px, 50px); // $font-size, $line-height

    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (50px, 1); // $font-size, $line-height

    margin-bottom: 30px;
  }
}

.about__text-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 498px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 498px;
    margin-bottom: 0;
  }
}

.about__text-wrapper h2 {
  @include primary-font (18px, 22px); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  text-align: left;
  color: var(--bg-primary, #ff6347);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include primary-font (28px, 1); // $font-size, $line-height

    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (32px, 36px); // $font-size, $line-height

    margin-bottom: 40px;
  }
}

.about__text-wrapper p {
  @include primary-font (14px, 20px); // $font-size, $line-height

  font-weight: 400;
  text-align: left;
  color: var(--text-primary, #ff6347);
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height

    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (16px, 26px); // $font-size, $line-height

    margin-bottom: 50px;
  }
}

.about__button {
  width: 223px;
  background-color: inherit;
  padding: 15px 56px 15px 20px;

  @media (min-width: $tablet-width) {
    width: 279px;
    padding: 21px 79px 19px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 279px;
    padding: 20px 79px 20px 30px;
  }
}

.about__content {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  width: 290px;
  border-radius: 20px;
  background-color: var(--bg-primary, #ff6347);
  color: var(--bg-ligth, #ff6347);
  padding: 42px 20px 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 54px 52px;
    width: 678px;
    padding: 72px 50px 50px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 72px 100px 50px 120px;
  }
}

.about__item {
  position: relative;
  width: 250px;
  border: 1px solid var(--bg-secondary, #ff6347);
  border-radius: 16px;
  padding: 15px 20px;

  @media (min-width: $tablet-width) {
    width: 253px;
    padding: 16px 20px 15px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 484px;
    padding: 30px 39px 30px 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-color: var(--bg-primary, #ff6347);
  }

  &::after {
    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    mask-image: url("../../__spritemap#sprite-star-view");
    mask-size: 22px 22px;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background-color: var(--bg-ligth, #ff6347);
  }
}

.about__item h3 {
  @include primary-font (16px, 20px); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include primary-font (20px, 22px); // $font-size, $line-height

    letter-spacing: 0.2px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (26px, 30px); // $font-size, $line-height

    max-width: 171px;
    margin-bottom: 0;
    letter-spacing: 0.26px;
  }
}

.about__item p {
  @include primary-font (14px, 20px); // $font-size, $line-height

  font-weight: 300;
  display: block;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height
  }

  @media (min-width: $desktop-width) {
    width: 201px;
  }
}
