.grant {
  background-color: var(--bg-primary, #ff6347);
}

.grant__wrapper {
  width: 320px;
  padding: 71px 15px 70px;
  margin: 0 auto;
  color: var(--bg-ligth, #ff6347);

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 99px 45px 100px 44px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 120px 206px 120px 100px;
    display: flex;
    justify-content: space-between;
  }
}

.grant__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 498px;
    margin-bottom: 0;
  }
}

.grant__title-wrapper p {
  @include primary-font (14px, 20px); // $font-size, $line-height

  display: block;
  margin: 0;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height

    padding-right: 180px;
    margin-bottom: 40px;
    color: var(--bg-secondary, #ff6347);
  }

  @media (min-width: $desktop-width) {
    @include primary-font (16px, 26px); // $font-size, $line-height

    padding-right: 0;
  }
}

.grant__title {
  @include primary-font (20px, 1); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include primary-font (34px, 50px); // $font-size, $line-height

    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (50px, 50px); // $font-size, $line-height
  }
}

.grant__picture-wrapper {
  width: 290px;
  height: 200px;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 498px;
    height: 363px;
  }
}

.grant__picture {
  width: 290px;
  height: 200px;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 498px;
    height: 363px;
  }
}

.grant__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    width: 498px;
  }
}

.grant__heading {
  @include primary-font (18px, 22px); // $font-size, $line-height

  font-weight: 400;
  display: block;
  margin: 0;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include primary-font (28px, 1); // $font-size, $line-height

    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (32px, 36px); // $font-size, $line-height

    margin: 10px 110px 55px 0;
  }
}

.grant__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 26px 48px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 23px;
  }
}

.grant__item {
  @include primary-font (14px, 20px); // $font-size, $line-height

  font-weight: 400;
  position: relative;
  counter-increment: chapter;
  width: 275px;
  padding: 24px 25px;
  border: 1px solid var(--bg-ligth, #ff6347);
  border-radius: 16px;
  color: var(--bg-secondary, #ff6347);

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height

    width: 305px;
    padding: 30px 25px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font (16px, 26px); // $font-size, $line-height

    width: 478px;
  }

  &::before {
    @include primary-font (18px, 1); // $font-size, $line-height

    font-weight: 500;
    content: counter(chapter);
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: -15px;
    width: 27px;
    height: 32px;
    background-color: var(--bg-primary, #ff6347);

    @media (min-width: $tablet-width) {
      @include primary-font (22px, 1); // $font-size, $line-height

      top: -5px;
      left: -20px;
      width: 40px;
    }

    @media (min-width: $desktop-width) {
      @include primary-font (18px, 1); // $font-size, $line-height

      top: -5px;
      left: -15px;
      width: 27px;
    }
  }
}
