:root {
  --bg-ligth: #ffffff;
  --black: #000000;
  --text-primary: #484848;
  --bg-primary: #316dc2;
  --bg-middle: #d6e2f3;
  --bg-secondary: #f0efe9;

  --overlay-dark: rgba(13, 29, 51, 0.4);
  --overlay-light: linear-gradient(112.1deg, rgba(49, 109, 194, 0.2) 17.23%, rgba(49, 109, 194, 0.2) 94.93%);

  --disabled: #a9afb7;
  --active: #275699;
  --error: #ff5e66;
}

// резервный цвет принят "tomato": #ff6347

/*
$primary-text-color: #484848; --text-primary
$accent-color: #316dc2; --bg-primary
$white-color: #ffffff; --bg-ligth
$background-color: #f0efe9;  --bg-secondary
$background-color-img: #d6e2f3;  --bg-middle
$active-button: #275699; --active
$disabled-button: #a9afb7; --disabled
$error-color: #ff5e66;  --error
$overlay-photo: linear-gradient(112.1deg, rgba(49, 109, 194, 0.2) 17.23%, rgba(49, 109, 194, 0.2) 94.93%); --overlay-light
$overlay-menu: rgba(13, 29, 51, 0.4); --overlay-dark
*/
